<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Student Name"/>
    </div>
    <div class="w3-container">
        <h2><span class="label label-info">Student List</span></h2>
      
        <table class="w3-table-all">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Gender</th>
            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>18</td>
                <td>Male</td>
            </tr>

        </table>
    </div>    

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>